/**/
.user-menu{
    position: relative;
    display: inline-block;
}
.user-icon {
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    min-width: 300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #ccc;
    padding: 10px 0;
align-items: center;
}
/* Styl pro položky nabídky */
    .dropdown-content a {
    color: black;
    padding: 10px 20px;
    width: 100%;
    display: block;
    font-size: 1.0em;
    text-decoration: none;
    }


.dropdown-header { /*Prihlaseni*/
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}
.dropdown-header:hover {
    border: 1px solid black;
    background-color: white;
    color: black;

}
/* Zobrazení nabídky při najetí myší */
    .user-menu:hover .dropdown-content {
    display: block;
}