/* Filtry */
.filters {
  background-color: #f3f3f3;
  padding: 10px;
}
.filters .filters-container {
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
}
.filters .filters-container button {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.filters .filters-container button:hover {
  background-color: #eee;
}
.main-content {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}
.categorie-section {
  width: 300px;
  margin: 10px;
}
.categorie-section li {
  list-style: none;
}
.categorie-section li a {
  text-decoration: none;
  color: #1a1a1a;
}
/* Produkty */
.product-section {
  flex-grow: 1;
}
.product-section .products {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.product-section .products .product {
  background-color: #fff;
  padding: 24px 8px 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.product-section .products .product a {
  text-decoration: none;
  color: inherit;
}
.product-section .products .product a:hover {
  color: #007bff;
}
.product-section .products .product figure img {
  max-width: 288px;
  height: auto;
}
.product-section .products .product .product-details {
  text-align: start;
}
.product-section .products .product .product-details h3 {
  margin: 5px 0;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}
.product-section .products .product .product-details p {
  margin: 5px 0;
  font-size: 1rem;
}
.product-section .products .product .product-details .pricing {
  margin: 10px 0;
}
.product-section .products .product .product-details .pricing .price {
  font-size: 0.875rem;
  color: #d00;
  font-weight: bold;
}
.product-section .products .product .product-details .pricing .old-price {
  text-decoration: line-through;
  color: #999;
}
.product-section .products .product .product-details .pricing .discount {
  color: #d9000c;
  font-weight: bold;
}
.product-section .products .product .product-details .product-extra {
  font-size: 0.9rem;
  color: #555;
}
